.successbg{
    width: 50%;
    margin: auto;
    height: 100%;
    border-radius: 16px;
    margin-top: 10vh;
}
.heading{
    padding-top: 20px;
    margin: 20px;
}
.successimg{
    height: 40vh;
    width: 30vw;
    border-radius: 100%;
}
.successpara{
    font-size: 38px;
    margin: 20px;
    padding-bottom: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .successimg{
        height: 20vh;
    }
    .successbg{
        width: 70%;
    }
}